env/
base_models/
outputs/

__pycache__/
.venv/
venv/

.ipynb_checkpoints/
.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
train.csv
val.csv
test.csv
table.csv

*.pt
*.pth
*.bin
*.ckpt
*.pyc

dataset/


copies/fake_data_gen.py

data/processed/label_info.json

data/processed/label_maps.json


src/metadata_normalizer.egg-info/dependency_links.txt

src/metadata_normalizer.egg-info/top_level.txt
src/metadata_normalizer.egg-info/SOURCES.txt
src/metadata_normalizer.egg-info/requires.txt
src/metadata_normalizer.egg-info/PKG-INFO
sys
src/models/
