
env/
base_models/
outputs/

__pycache__/
.env
env/
.ipynb_checkpoints/
.ipynb_checkpoints
__pycache__/
*.pyc
*.pyo
*.pyd
train.csv
val.csv
test.csv
table.csv

*.pt
*.pth
*.bin
*.ckpt

dataset/


copies/fake_data_gen.py

data/processed/label_info.json

data/processed/label_maps.json
src/__pycache__/__init__.cpython-310.pyc
src/__pycache__/__init__.cpython-310.pyc
src/data/__pycache__/collate.cpython-310.pyc
